#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.loginAndRegisterLinks {
  display: block;
  margin-top: 10px;
  text-align: center;
  color: #0066cc;
  text-decoration: none;
}

.formAndCards {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem 2rem;
  width: 75vw;
}

.formSection {
  width: 50%;
}

.formAndCards .card {
  flex: 1;
  align-self: flex-start; /* keep card aligned to the top of form */
  width: 60%;
}

/* Responsive layout for smaller screens */
@media (max-width: 900px) {
  .formAndCards {
    flex-direction: column;
    align-items: center;
  }

  .formAndCards > div,
  .formAndCards .card {
    width: 100%;
  }
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap; /* allows wrapping to next row */
  gap: 1.5rem; /* space between cards */
  justify-content: flex-start; /* align cards from left to right */
  align-content: flex-start; /* stack rows from top to bottom */
}

.cardsContainer .card {
  flex: 0 0 18rem; /* keep each card fixed width */
}

.editAndDeleteButtons {
  margin-right: 5px;
  margin-left: 5px;
}
